input{
	width:100%;
	border-radius:30px;
	text-align:center;
	font-size:40px;
	outline-width: 0;
	color:white;
	background-color:#4D4E48;
	border-color:#1D1E18;

}
body{
	background-color:black;
	color:white;
	font-family:arial;

}
center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
canvas{
	position:absolute;
	z-index:-1;
	top:0px;
	left:0px;

}
textarea {
	color:white;
	background: #222222;
	border-radius: 7px;
	border: 2px solid #5A8FD5;
	width: 100%;
	height: 10%;
}
.light{
	color:#C43D3E;
}
.dark{
	color:#9D2C2B;
}

.holder{
	display:flex;
}

.username{
	font-size:30px;
	font-family:arial;
}

.note{
	padding:10px;
	font-family:arial;
}
.lightBg{
	background-color:#C43D3E;
}
.darkBg{
	background-color:#9D2C2B;
}

a{
	text-decoration:none;
	color:#9D2C2B;
	font-family:arial;
}
span{
	font-family:arial;
	font-size:70px;
}

